Необходимо скачать датасеты: [`titles.csv`](https://drive.google.com/open?id=0B3G70MlBnCgKajNMa1pfSzN6Q3M).

In [1]:
import pandas as pd

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

Сколько фильмов в таблице?

In [3]:
titles.shape[0]

215981

In [4]:
# titles.groupby(['title', 'year']).ngroups

Какие два самых ранних фильма в таблице?

In [5]:
titles.loc[titles['year'].nsmallest(2).index]

                                                    title  year
165182                                         Miss Jerry  1894
85708   Reproduction of the Corbett and Fitzsimmons Fight  1897

У скольких фильмов название `Hamlet`?

In [6]:
titles[titles['title'] == 'Hamlet'].shape[0]

19

Выведите список всех фильмов `Treasure Island` с годами

In [7]:
titles[(titles['title'] == 'Treasure Island')]

                  title  year
47769   Treasure Island  1920
90175   Treasure Island  1950
103646  Treasure Island  1973
104714  Treasure Island  1972
166675  Treasure Island  1999
190792  Treasure Island  1985
191379  Treasure Island  1918
192917  Treasure Island  1934

Сколько фильмов было сделано с 1850 по 1900 года?

In [8]:
titles[(titles['year'] >= 1850) & (titles['year'] <= 1900)].shape[0]

8